* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: darkmagenta;
    padding: 20px 20px;
}

.container {
    width: 100%;
    height: 540px;
    background-color: darkorchid;
}