* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}
.topo {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.bloco {
    padding: 40px;
    min-height: 400px;
}

.bloco1 {
    background-color: darkorchid;
}